/* inizio parte che gestisce le foto incima della galleria */

#menu {
  margin-bottom: 3%;
  }

div.polaroid {
  width: 36%;
 /* width: 35%;
  /*position : relative;*/
  margin-left: 12%;
  display: inline-block;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  padding: 0.1em;
}

div.container {
/*	position : absolute;
	top: 8%;
  right: 5%; 
  	height: 80%;

*/  
  float: right;
  width: 40%;
	text-align: center;
	padding: 2%;
}

div.polaroid > img {
	max-width : 55%;  
}
  
/* fine parte che gestisce le foto incima della galleria */


@media screen and (max-width: 600px) {

  div.polaroid{
    width: 76%;
  }

}
