/* inizio gestione polaroid */

div.polaroid {
  width: 98%;
  margin: 1%;
  display: inline-block;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1em;
}

div.polaroid > img {
	width : 40%;
}

div.container {
	width: 45%;
	text-align: center;
	float: right;
  margin-right: 7%;
}
	
.container > p {
	font-size: 1em;
} 

/* fine gestione polaroid */

@media screen and (max-width: 860px) {

  div.container {
    width: 94%;
    margin: 2%;
    text-align: center;
  }

  div.polaroid > img {
    width: 98%;
    margin: 1%;
  }

}

@media screen and (min-width: 601px) and (max-width: 860px) {
  div.polaroid{
    width: 90%;
    margin-left: 5%;
  }

}