
body {
    padding: 0; margin: 0;
    font-family: Arial, Verdana, Geneva, sans-serif;
    color: #333;
    font-size: 100%;
}

p {
    font-size: 0.77em;
    line-height: 1.4em;
}

a {
    color: #003366;
}

ul, li {
    font-size: 0.95em;
    line-height: 1.5em;
    list-style-type: none;
}

/* header */

header {
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    width: 100%;
    height: 10%;
    background-color: gray;
    box-shadow: 0px 1px 7px #444444;
}

header h1 {
    font-size: 1.5em;
    font-weight: normal;
    color: #eee;
    letter-spacing: 0.05em;
    vertical-align: 60%;
    display: inline;
    white-space: nowrap;
    margin-left: 35%;
}

/* fine header*/

/* content */
#content {
    box-sizing: border-box;
    clear: both;
    width: 90%;
    margin: 0 auto;
    margin-top: 2%; 
	/* lascia spazio all' ombra */
}

/* percorso di briciole */

ul#briciole{
    text-transform: uppercase;
    font-size: 0.80em;
    list-style-image: url('../img/freccia_lista.png');
	padding-left: 0;
	margin-left: 25%;
	padding-bottom: 60px;
  }

ul#briciole li {
    margin-left: 2%;
    float: left;
}

ul#briciole li:first-child {list-style-image: none; margin-left:0}

#iconmenu {font-size: 3em; color: #036;}

#briciole a {
    text-decoration: none;
    color: #003366;
    font-weight: bold;
}

ul#briciole a:hover {
    text-decoration: underline;
}

ul#briciole a:hover.current {
    text-decoration: none;
}

#info p:last-child {
    padding-right: 0;
    width: 30%;
}

li#stato, li#mostra {
    list-style-image: none;
    padding-left: 5%;
}

#mostra  a {
    color: #fff;
	-moz-box-shadow:inset 0px 1px 0px 0px #46ccaa;
	-webkit-box-shadow:inset 0px 1px 0px 0px #46ccaa;
	box-shadow:inset 0px 1px 0px 0px #46ccaa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #339980), color-stop(1, #40c7a5));
	background:-moz-linear-gradient(top, #339980 5%, #40c7a5 100%);
	background:-webkit-linear-gradient(top, #339980 5%, #40c7a5 100%);
	background:-o-linear-gradient(top, #339980 5%, #40c7a5 100%);
	background:-ms-linear-gradient(top, #339980 5%, #40c7a5 100%);
	background:linear-gradient(to bottom, #339980 5%, #40c7a5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#339980', endColorstr='#40c7a5',GradientType=0);
	background-color:#339980;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #287864;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:2px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0a9472;
}
#mostra a:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #40c7a5), color-stop(1, #339980));
	background:-moz-linear-gradient(top, #40c7a5 5%, #339980 100%);
	background:-webkit-linear-gradient(top, #40c7a5 5%, #339980 100%);
	background:-o-linear-gradient(top, #40c7a5 5%, #339980 100%);
	background:-ms-linear-gradient(top, #40c7a5 5%, #339980 100%);
	background:linear-gradient(to bottom, #40c7a5 5%, #339980 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#40c7a5', endColorstr='#339980',GradientType=0);
	background-color:#40c7a5;
	text-decoration: none;
}
#mostra a:active {
	position:relative;
	top:1px;
}

/* menu */

#menu {
    padding: 0; margin: 0;
    width: 200px;
    clear: left;
    float: left;
}

#menu h2 {
    padding: 0; margin: 0;
    margin-bottom: 10px;
    background-color: #339980;
    text-align: center;
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    width: 90%;
    height: 20px;
}

#menu li ul {
    padding-left: 0;
    margin-bottom: 20px;
}

#menu a{
    text-decoration: none;
}

#menu a:hover{
    text-decoration: underline;
}

/* progetti */

#projects {
    margin-left: 200px;
    padding-bottom: 60px;
}

#projects article {
    display: inline-block;
    width: 100px;
    height: 100px;
}

#projects a:link {
    display: block;
    width: 100%;
    height: 100%;
}

#projects h2 {
    padding-top: 20px;
    font-size: 0.8em;
    text-align: center;
}

#projects p {
    text-align: center;
}

#projects img {
    width: 100%;
    height: 100%;
}

#projects div.descr {
    display: none;  
    width: 100%;
    height: 100%;
    padding: 0;
    float: left;
    background-color: #339980;
    color: #fff;
}

#projects div.pubblicato {
    background-color: #cc99cc;
}

#projects div.concluso {
    background-color: #996699;
}

#projects a:hover img {
   display: none;
}

#projects a:hover div.descr {
    display: block;
}


/* last-update */

#lastupdate {
    padding: 5px;
    font-style: italic;
    text-align: center;
    font-size: 0.8em;
}

/* footer */

footer {
    clear:left;
    margin-top: 40px;
    margin: 0;
    padding: 0;
    width: 100%;
    color: black;
    background-color: rgb(222, 213, 186);
}

#info {
    min-height: 80px;
    width: 90%;
    margin: auto;
    padding-bottom: 5px;
}

#info p {
    font-size: 0.8em;
    float: left;
    width: 33%;
}

#info a {color: gray}
