/* initial general set */
body {
    padding: 0; margin: 0;
    font-family: Arial, Verdana, Geneva, sans-serif;
    color: #333;
    font-size: 100%;
}

p {
    font-size: 0.77em;
    line-height: 1.4em;
}

a {
    color: #003366;
}

/* header */

header {
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    width: 100%;
    height: 10%;
    background-color: #ffcc66;
    box-shadow: 0px 1px 7px #444444;
}
header *{
    display: inline-block;
}
header h1 {
    font-size: 3.5em;
    font-weight: normal;
    color: #0099ff;
    letter-spacing: 0.05em;
    /* white-space: nowrap;  serve per far si che sia su una sola linea, ma esendoci inline, penso si ainutile qui non mi cambia nulla */ 
    margin-left: 12.5%;
    line-height: 0.5;
}

header a {  
    text-decoration: none;
    margin: 1%;

}

/* fine header*/

/* pulsanti menu */
#menu input {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2% 4%;
    text-decoration: none;
    margin: 0.1em 0.1em;
    cursor: pointer;
    font-size: 1.1em;   
    }
    
#menu a {
    text-decoration: none;
    }

#menu {
    margin-top: 0.5%;
    text-align: center;
    }
/* pulsanti menu */ 

/* footer */

footer {
    clear:left;
    margin-top: 40px;
    padding: 0;
    width: 100%;
    color: black;
    background-color: #ffcc66;
}

#info {
    min-height: 80px;
    width: 90%;
    margin: auto;
    padding-bottom: 5px;
}

#info p {
    font-size: 0.8em;
    float: left;
    width: 33%;
}

#info a {color: gray}
/* fine footer */
