
#contenuto {
	width: 100%;
	margin: 0px;
	padding: 0px;
	}

/* polaroid prima */
div.polaroid {
  width: 98%;
  margin: 1%;
  display: inline-block;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1em;
}

div.polaroid > img {
	width : 40%;
}

div.container {

	width: 55%;
	text-align: center;
	float: right;
}
	
.container > p {
	font-size: 1em;
} 
/* fine polaroid */
