
/* inizio contenuto */
#contenuto {
	width: 100%;
	background-color: white;
	margin:0;
	padding:0;
	}
#contenuto h3 {
	margin-top: 0.3%;
	text-align: center;
	background-color: #66ff66;
	}
/* fine contenuto */

/* tabella */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
	margin-left: 35%;
	}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;	
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/* fine tabella*/

/* contenitori dei vari contatti */
#h3_map{
	margin-left: 3%;
}


.floating-box {
	max-width: 100%;
	display: inline-block;
	margin: 2%;
	margin-left: 6%;
}

/* fine contenitori contatti */

/* inizio mappa */


#map {
	max-width:70%;
	margin: 3%;
	}
#map > img {
	margin-left: 23%;
	border-style: solid;
	border-width: thin;

}
/* fine mappa */